* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #F0F2F5;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#title {
    color: #2E3A59;
    text-align: center;
    margin-bottom: 30px;
}

input#task-search__input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
}

#task__input-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

#task__fields-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#task-title__input, #task-description__input, #task-search__input {
    border: 1px solid #ced4da;
    background-color: transparent;
    border-radius: 5px;
    color: #495057;
    padding: 5px;
}

#task-title__input {
    height: 30px;
    padding: 5px;
}

#task-description__input {
    resize: none;
    height: 100px;
    padding: 12px 5px;
}

#task-title__input::placeholder, #task-description__input::placeholder, #task-search__input::placeholder {
    color: #495057;
}

#task-title__input:focus, #task-description__input:focus, #task-search__input:focus {
    outline: 2px solid #007BFF;
}

#task-submit__button, #reset__button {
    background-color: #007BFF;
    outline: none;
    border: 2px solid #0056b3;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#task-submit__button {
    width: 10%;
    height: 35px;
}

#task-submit__button:hover, #reset__button:hover {
    background-color: #0056b3;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.task-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}

.task-item__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-item__buttons {
    display: flex;
    gap: 10px;
}

.task-title {
    color: #495057;
}

.task-description {
    color: #6C757D;
}

/* Estilo do input checkbox */
.task-checkbox {
    display: none;
}

/* Estilo do rótulo do checkbox */
.task-checkbox-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}

/* Estilo do visual do checkbox */
.task-checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; 
    height: 20px; 
    background-color: #eeeeee; 
    border: 1px solid #ddd;
    border-radius: 3px; 
}

/* Estilo do visual do checkbox quando está marcado */
.task-checkbox:checked + .task-checkbox-custom:after {
    display: block;
    content: "";
    width: 4px; 
    height: 8px; 
    border: solid #007BFF; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
    position: absolute; 
    left: 6px; 
    top: 3px; 
}

.mdi--note-edit-outline, .mdi--remove {
    display: inline-block;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mdi--note-edit-outline {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23007BFF' d='m18.13 12l1.26-1.26c.44-.44 1-.68 1.61-.74V9l-6-6H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h6v-1.87l.13-.13H5V5h7v7zM14 4.5l5.5 5.5H14zm5.13 9.33l2.04 2.04L15.04 22H13v-2.04zm3.72.36l-.98.98l-2.04-2.04l.98-.98c.19-.2.52-.2.72 0l1.32 1.32c.2.2.2.53 0 .72'/%3E%3C/svg%3E");
  }

.mdi--remove {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23DC3545' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
  }

#reset__button {
    padding: 10px 30px;
    width: 30%;
    margin: auto;
  }

/* Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1550px) {
    .container {
        width: 60%;
    }

    #task-submit__button {
        width: 18%;
    } 
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 85%;
    }

    #task-submit__button {
        width: 25%;
    }

    #reset__button {
        width: 75%;
    }
}

/* Smartphones */
@media only screen and (max-width: 600px) {
    .container {
        width: 85%;
    }

    #task__input-container {
        flex-direction: column;
    }

    #task-submit__button {
        width: 100%;
    }

    #reset__button {
        width: 100%;
    }
}



